{{#each this}}
<li class="film-list-item" data-id="{{id}}">
    <picture>
        {{#if poster_path}}
        <source srcset="http://image.tmdb.org/t/p/w220_and_h330_face/{{poster_path}}" media="(min-width: 320px)" />
        <source srcset="http://image.tmdb.org/t/p/w440_and_h660_face/{{poster_path}}" media="(min-width: 768px)" />
        <source srcset="https://image.tmdb.org/t/p/w500/{{poster_path}}" media="(min-width: 1200px)" />
        <img class="film-image" src="http://image.tmdb.org/t/p/w440_and_h660_face/{{poster_path}}" alt="film poster">
        {{else}}
        <img class="film-image" style="height:auto" src="https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697" alt="film poster">
        {{/if}}
    </picture>
    <h3 class="film-name">"{{title}}"</h3>
    <p class="film-about">{{genre_ids}} | {{release_date}} <span class="mark">{{vote_average}}</span></p>
</li>
{{/each}}