{{#each this}}
<li class="film-list-item" data-id="{{id}}">
    <div class="backdrop-btns">
        <div class="wrap-for-btns">
            <button type="button " class="backdrop-btn first-backdrop" data-id="{{id}}"> ADD TO WATCHED</button>
            <button type="button" class="backdrop-btn second-backdrop" data-id="{{id}}">ADD TO QUEUE</button>
        </div>
        <picture>
            {{#if poster_path}}
            <source srcset="http://image.tmdb.org/t/p/w220_and_h330_face/{{poster_path}}" media="(min-width: 320px)" />
            <source srcset="http://image.tmdb.org/t/p/w440_and_h660_face/{{poster_path}}" media="(min-width: 768px)" />
            <source srcset="https://image.tmdb.org/t/p/w500/{{poster_path}}" media="(min-width: 1024px)" />
            <img class="film-image" src="http://image.tmdb.org/t/p/w440_and_h660_face/{{poster_path}}"
                alt="film poster">
            {{else}}
            <img class="film-image" style="height:auto"
                src="https://via.placeholder.com/400x600?text=YOU%27RE+AWESOME+:)" alt="film poster">
            {{/if}}
        </picture>
    </div>
    <div class="card-text-wrap">
        <h3 class="film-name">"{{title}}"</h3>
        <p class="film-about">{{genre_ids}} | {{release_date}} <span class="mark">{{vote_average}}</span></p>
    </div>
</li>
{{/each}}