{{#if poster_path}}
<img class="film-image" src="http://image.tmdb.org/t/p/w440_and_h660_face{{poster_path}}" alt="Фильм" />
{{else}}
<img class="film-image" style="height:auto" src="https://via.placeholder.com/416x500?text=YOU%27RE+AWESOME+:)"
  alt="placeholder">
{{/if}}
<div class="info-section">
  <h2 class="title">{{title}}</h2>
  <p class="trailer-btn">
    <svg class="play-svg" width="24" height="24">
      <use href="./images/sprite.svg#icon-play"></use>
    </svg>
    Смотреть трейлер</p>
  <div class="modal-info">
    <ul class="list-info">
      <li class="list-info-item">
        <span class="about-film about-film-votes">Ретинг / кол-во Голосов</span><span
          class="about-film-vote">{{vote_average}}</span><span class="about-film-info vote-divider"> / </span>
        <span class="about-film-info vote-count">{{vote_count}}</span>
      </li>
      <li class="list-info-item">
        <span class="about-film about-film-popularity">Популярность</span><span
          class="about-film-info">{{popularity}}</span>
      </li>
      <li class="list-info-item">
        <span class="about-film about-film-title">Название</span><span
          class="about-film-info original-title">{{title}}</span>
      </li>
      <li class="list-info-item">
        <span class="about-film about-film-genre">Жанры</span><span class="about-film-info">{{genre_ids}}</span>
      </li>
    </ul>
  </div>
  <div>
    <h3 class="subtitle">О фильме</h3>
    {{#if overview}}
    <p class="description">"{{overview}}"</p>
    {{else}}
    <p class="description">К сожалению у фильма нет описания :(</p>
    {{/if}}
  </div>
  <button class="first add-btn" type="button">Добавить в просмотренные</button>
  <button class="second add-btn" type="button">Добавить в очередь</button>
  <button class="close-modal-btn" type="button">X</button>
</div>

{{!-- <ul class="list-info">
      <li>
        <p class="about-film-info">
          <span class="about-film-vote">{{vote_average}}</span> / {{vote_count}}
        </p>
      </li>
      <li>
        <p class="about-film-info">{{popularity}}</p>
      </li>
      <li>
        <p class="about-film-info original-title">{{title}}</p>
      </li>
      <li>
        <p class="about-film-info">{{genre_ids}}</p>
      </li>
    </ul> --}}